In [4]:
def print_address():
    print("서울특별시 종로구")
    print("홍길동")

for i in range(2):
    print_address()
    print(" ")

서울특별시 종로구
홍길동

서울특별시 종로구
홍길동

In [3]:
def calc_area(radius):
    area = 3.14 * radius**2
    return area

c_area = calc_area(5.0)
print(c_area)

area_sum = calc_area(5.0) + calc_area(10.0)

print(area_sum)

78.5
392.5

In [6]:
def get_input():
    return 2,3

x,y = get_input()
print(x,",",y)

2 , 3

In [7]:
def judge(num):
    if(num%2 == 0):
        print("짝수")
        return
    print("홀수")

num = int(input("자연수를 입력하세오 : "))
judge(num)

자연수를 입력하세오 : 10
짝수

In [1]:
import turtle

t = turtle.Turtle()
t.shape("turtle")


def rect():
   
    for i in range(4):  
        t.forward(100)
        t.left(90)

        
rect()
t.up()
t.forward(100)

t.down()
rect()
turtle.done()

In [5]:
def calc(x,y):
    return x-y

print(calc(10,20))

-10

# LAB

## BMI 계산기

In [ ]:
height = float(input("키를 m 단위로 입력하세요 : "))
weight = int(input("몸무게를 kg 단위로 입력하세요 : "))

def calc(h,w):
    
    bmi = w/(h*h)
    
    if bmi < 18.5:
        print("저체중입니다.")
    elif 18.5< bmi< 22.9 :
        print("정상입니다.")
    elif 23<bmi<24.9 :
        print("과체중입니다.")
    elif 25<bmi<29.9 :
        print("경도비만입니다.")
    elif bmi>30 :
        print("고도비만 입니다")
        

calc(height,weight)

## 구구단 갑자기?

In [5]:
letters = ['a','b','c']
print("test")
print(letters[-1:3])

test
['c']

In [1]:
for i in range(1,10):
    print("<",i,"단>")
    for j in range (1,10):
        print(i,"*",j,"=",i*j)

< 1 단>
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
< 2 단>
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
< 3 단>
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
< 4 단>
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
< 5 단>
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
< 6 단>
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
< 7 단>
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
< 8 단>
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
< 9 단>
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 환전 계산기

In [ ]:
list = [1182,1078,1286,169]

amt = int(input("환전금액을 입력하세요 : "))
con = input("국가를 입력하세요 : ")
money = 0
percent = 0
def dollar(amt,con):
    if con == '미국':
        percent = 1182.5
    elif con == '일본':
        percent = 1078.14
    elif con == '유럽':
        percent = 1286.74
    elif con == '중국':
        percent = 169.22
    else :
        return print("해당 국가 정보가 없습니다.")
    print(amt,"원은", round(amt/percent,2)," 위안 입니다.")

dollar(amt,con)

In [6]:
# 환전 계산기 답 
def exchange(w,p):
    if p in country_list:
        m_code = country_list.index(p)
    else:
        print("해당 국가의 정보가 없습니다.")

    result = round(w/rate[m_code],2)
    print(w,"원은", result,unit[m_code],"입니다.")
    
country_list = ['미국','중국','일본','한국']
unit = ['달러','위안''엔','원']
rate = [1182.5,112.5,82.5,12.5]

amt = int(input("환전금액을 입력하세요 : "))
con = input("국가를 입력하세요 : ")
exchange(amt,con)

환전금액을 입력하세요 : 1000
국가를 입력하세요 : 중국
1000 원은 8.89 위안엔 입니다.

In [ ]:
country_list = ['미국','중국','일본','한국']
unit = ['달러','위안''엔','원']
rate = [1182.5,112.5,82.5,12.5]

amt = int(input("환전금액을 입력하세요 : "))
con = input("국가를 입력하세요 : ")
exchange(amt,con)

## N각형을 그리는 함수 작성하기

In [1]:
import turtle

t = turtle.Turtle();
n = int(input("몇각형?:"))
  
def n_polygon(n,length):
    for i in range(n):
        t.forward(length)
        t.left(360/n)
        

for i in range(10):
    t.left(20)
    n_polygon(n,100)
    
turtle.done()

몇각형?:10

## 클릭하는 곳에 사각형 그리기

In [ ]:
import turtle

t = turtle.Turtle()
t.color("orange")
t.speed(0)

def square(length):
    for i in range(4):
        t.forward(length)
        t.left(90)
    

def draw(x,y):
    t.penup()
    t.goto(x,y)
    t.pendown()
    
    t.begin_fill()
    square(100)
    t.end_fill()
    return
    

s = turtle.Screen()
s.onscreenclick(draw)

turtle.done()

## 한붓 그리기

In [ ]:
import turtle

def draw(x,y):
    t.goto(x,y)

t= turtle.Turtle()
t.shape("turtle")

s = turtle.Screen()  #그림이 그려지는 화면을 얻는다
s.onscreenclick(draw)

turtle.done()

## 이차함수 그래프 그리기

In [ ]:
import turtle as t



def f(x):
   
   return x**2+1
    

t.goto(0,200)
t.goto(0,0)
t.goto(200,0)
t.goto(0,0)

for x in range(150):
    t.goto(x,int(0.01*f(x)))


t.done()

## 테세우스 터틀 미로 탈출 게임

In [ ]:
import turtle

t = turtle.Pen()

t.goto(0,200)
t.right(90)
t.goto(40,200)

t.done()

In [2]:
## 재귀호출
n = int(input("재귀호출 할 숫자 입력하시오 : "))


def func(n):
    if n == 1:
        return 1
    else : 
        return n * func(n-1)
        
        
func(n)

재귀호출 할 숫자 입력하시오 : 10

3628800